<section class="bookmark-create">
  <form>
    <label for="url">Bookmark URL</label>
    <input type="text" id="url" placeholder="http://www.google.com">
    <input type="submit" value="Save Bookmark">
  </form>
</section>
