<nav class="sidebar">
  <ol>
    {{#each}}
    <li>{{#link-to 'bookmarks.bookmark' this}}{{name}}{{/link-to}}</li>
    {{/each}}
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
    <li><a href="#">How to get animations out of your head - Scott Hurff</a></li>
    <li><a href="#">Glitch | Public Domain Art &amp; Code</a></li>
    <li><a href="#">webdesignrepo - a compact list of helpful webdesign links</a></li>
  </ol>
</nav>
<main>
  <article class="bookmark-show">
    {{outlet}}
  </article>
</main>
